.header {
    background-image: url("../img/banner-bg.jpg");
}

.header {
    padding-top: 25px;
}

.logo-img {
    width: 19.7%;
    margin: 0;
}

.container {
    min-width: 800px;
    max-width: 1200px;
    padding: 15px;
    text-align: center;
}

.first-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

.logo-img {
    width: 179px;
    padding: 0;
}

.menu-btn,
.menu-btn::after,
.menu-btn::before {
    visibility: hidden;
}

.menubox {
    display: flex;
    visibility: visible;
    position: unset;
    width: 460px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    transition-duration: unset;
}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10%;

}

.nav-link {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
}

.bunner-text {
    font-size: 2.81rem;
    padding: 145px 0;
}

.category-item {
    font-size: 1.25rem;
}

.category-title {
    font-size: 1.25rem;
}

.trend-cards {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.trend-card {
    min-height: 315px;

}

.content {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;


}

.main-news {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;
}

.post-pic {
    max-width: 380px;
}

.post-content {
    padding: 15px 0;
}

.title-link {
    margin: 17px 0 38px 0;
}

.card-text {
    font-size: 14px;
    margin: 0;
    margin-top: 50px;
}

.double-p {
    margin: 5px 0;
    padding: 0;
}

.aside-main  {
    width: 270px;
    margin: 0;
}

.products {
    min-width: 800px;
    max-width: 1200px;

}

.product-cards {
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.products-content {
    min-height: 260px;
}

.footer {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}


